.taxReceipt {
  height: 100vh;
}

body {
  color: black;
}

#logo {
  width: 20vw;
}

.right {
  font-size: 50pt;
  float: right;
  padding-top: 20px;
}

.receiptThird {
  width: 50vw;
  font-size: 12pt;
  display: block;
  text-align: left;
}

.ticketLeft {
  height: 13vh;
  width: 5000pt;
  padding-left: 10px;
  display: inline-block;
  float: left;
  border: 2px solid black;
  margin-bottom: 2vh;
}
.ticketRight {
  float: left;
  height: 0px;
  width: 10px;
  margin-right: 45%;
  display: table;
  font-size: 10pt;
}

.ticketLeft b {
  font-weight: bold;
  font-size: 10pt;
}

.ticketInnerRight {
  text-align: right;
  width: 40%;
  height: 150px;
  display: inline-block;
  font-size: 9pt;
}
.ticketInnerLeft {
  text-align: left;
  width: 49%;
  height: 150px;
  display: inline-block;
  font-size: 9pt;
}

.ticketMovie {
  font-size: 9pt;
}

.ticketHeader {
  font-size: 12pt;
  text-shadow: 0px 0px #FFF;
}

.ticket, .ticketGold {
  display: flex;
  page-break-inside: avoid;
}

footer {
  color: #FFF;
}

#hidden {
  display: table;
  page-break-inside: always;
}
