/* Insert your styles here */

/*colours:
#1a1a1d = background
#4e4e50 = text (general)
#6f2232 = lowlight
#950740 = medium
#c3073f = highlight

*/

* {
  color: #4e4e50;
}

.navList {
  float: left;
  width: 100%;
  height: 20px;
}
.navItem {
  font-size: 20px;
  float: left;
  width: 30%;
  text-align: center;
  padding-right: 10px;
  transition:.5s;
  margin: 10px 0 10px 0;
  border-radius: 5px;
}
.navItem:hover {
  background-color: #950740;
  color: #000;
}

header {
  width: 100%;
  font-family: 'Righteous', cursive;
  font-size: 100px;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 0 100px 0 100px;
  background-color: #1a1a1d;
}

ul {
  list-style-type: none;
}

#logo {
  text-align: left;
  float:left;
  width: 200px;
}
#title {
  text-align: right;
  color: #c3073f;
}

footer {
  padding-top: 100px;
}
