/* Insert your styles here */

/*colours:
#1a1a1d = background
#fff = text
#4e4e50 = text (subtitle)
#6f2232 = lowlight
#950740 = medium
#c3073f = highlight

*/

* {
  color: #fff;
}

nav {
  position: sticky;
  overflow: hidden;
  top: 0px;
  width: 100%;
}

.navList {
  float: left;
  width: 100%;
  height: 20px;
  top: 0;
}

.navItem {
  font-size: 20px;
  float: left;
  width: 30%;
  text-align: center;
  padding-right: 10px;
  transition:.5s;
  margin: 10px 0 10px 0;
  border-right: 5px solid #4e4e50;
}

.navItem:last-child {
  border-right: 0px;
}

.navItem a {
  text-decoration: none;
}

.navItem:hover {
  background-color: #950740;
  color: #000;
}

nav ul {
  list-style-type: none;
}

#logo {
  text-align: left;
  float:left;
  width: 200px;
}

#title {
  padding-top: 50px;
  float: right;
  color: #c3073f;
}

header {
  width: 100%;
  font-family: 'Righteous', cursive;
  font-size: 100px;
}

h1 {
  font-family: 'Righteous', cursive;
}

.article {
  min-height: 100vh;
  border-top: 2px solid #4e4e50;
}

.article:first-of-type {
  border-top: 0px;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 0 100px 0 100px;
  background-color: #1a1a1d;
}

footer {
  padding-top: 100px;
}
