/* Insert your styles here */

/*colours:
#1a1a1d = background
#fff = text
#4e4e50 = text (subtitle)
#6f2232 = lowlight
#950740 = medium
#c3073f = highlight

*/

* {
  color: #fff;
}

nav {
  position: sticky;
  overflow: hidden;
  top: 0px;
  width: 100%;
}

.navList {
  float: left;
  width: 100%;
  height: 20px;
  top: 0;
}

.navItem {
  font-size: 20px;
  float: left;
  width: 30%;
  text-align: center;
  padding-right: 10px;
  transition:.5s;
  margin: 10px 0 10px 0;
  border-right: 5px solid #4e4e50;
}

.navItem:last-child {
  border-right: 0px;
}

.navItem a {
  text-decoration: none;
}

.navItem:hover {
  background-color: #950740;
  color: #000;
}

nav ul {
  list-style-type: none;
}

#logo {
  text-align: left;
  float:left;
  width: 200px;
}

#title {
  padding-top: 50px;
  float: right;
  color: #c3073f;
}

header {
  width: 100%;
  font-family: 'Righteous', cursive;
  font-size: 100px;
}

h1 {
  font-family: 'Righteous', cursive;
}

.gridContainer {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 70px 40px repeat(2, 200px);
grid-column-gap: 10px;
grid-row-gap: 10px;
padding: 0 100px 0 100px;
}

.title {
  grid-area: 1 / 1 / 2 / 4;
}
.subtitle {
  grid-area: 2 / 1 / 3 / 4;
}
.std1 {
  grid-area: 3 / 1 / 4 / 2;
}
.std2 {
  grid-area: 3 / 2 / 4 / 3;
}
.std3 {
  grid-area: 3 / 3 / 4 / 4;
}
.gold1 {
  grid-area: 4 / 1 / 5 / 2;
}
.gold2 {
  grid-area: 4 / 2 / 5 / 3;
}
.gold3 {
  grid-area: 4 / 3 / 5 / 4;
}

.standard {
  background-color: #950740;
  padding: 5px 5px 5px 5px;
}

.gold {
  background-color: #c3073f;
  padding: 5px 5px 5px 5px;
}

.article {
  min-height: 100vh;
  border-top: 2px solid #4e4e50;
  padding-bottom: 20px;
}

.article:first-of-type {
  border-top: 0px;
}

.inlineContainer {
  width: 90vw;
  height: 30vh;
  display: flex;
}

.inline {
  height: 100%;
  display: inline-flex;
}

.inlineLeft {
  width: 20%;
  text-align: center;
}

.inlineLeft img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.inlineRight {
  width: 70%;
}

.dolbyFactList {
  width: 40%;
  display: inline-block;
  padding: 0 10px 0 0;
  margin-block-start: 0;
}

.dolbyFact {
  width: 20vw;
  padding-right: 20px;
}

.dolbyBorder {
  padding-top: 20px;
}

#dolbyAtmos {
  width: 10vw;
  display: inline;
  align-self: center;
  vertical-align: middle;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 0 100px 0 100px;
  background-color: #1a1a1d;
}

footer {
  padding-top: 100px;
}
